* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.panel {
  position: fixed;
  inset: 0;
  background: white;
  color: black;
  transform: translateX(100%);
  transition: all 100ms linear;
  box-shadow: 0px 0px 5px rgba(0, 0, 0.3);
  overflow-y: scroll;

  &__show {
    transform: translateX(30%);
  }

  .panel-close {
    position: sticky;
    left: 65%;
    top: 5%;
  }

  .details {
      margin-top: -40px;

    .add-to-bank {
        outline: 1px solid silver;
        box-shadow: 0 0 1px rgba(0,0,0,.3);
        padding: .5rem;
        cursor: pointer;
    }

    .bank-item {
      border-bottom: 1px solid silver;
      padding: 1rem;
    }
  }

   .bank-wrapper {
      display: flex;
      flex-direction: column-reverse;

    }
}

main {
  display: flex;

  #output {
    max-width: 30%;
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;

    .kanji {
      &__selected {
        color: orange;
      }
    }
  }

  .background-overlay {
    background: #1c1c1c;
    width: 70%;
    display: flex;
    justify-content: center;

    #lists {
      color: white;
      position: fixed;
      top: 25%;
      display: flex;
      width: 20%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      a {
        color: silver;
        font-size: 24px;
      }

      .list {
        &__selected {
          color: orange;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
  font-size: 36px;
  padding: 10px;
  transition: all 100ms linear;

  &:hover {
    color: silver;
  }
}

.corner-bank {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: .5rem 1rem;
    cursor: pointer;
}